.task-container{
    width: 340px;
    display: flex;
    flex-flow: row wrap;
    color: indigo;
    justify-content: space-between;
    margin: 5px auto;
    background-color: rgb(134, 217, 255);
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.task-err-msg{
    color: rgb(250, 74, 74);
    text-align: center;
    margin-top: 50px;

}

.task-container:first-of-type{
    margin-top: 100px;
}
.task-actions{
    background-color: rgb(134, 217, 255);
}
.task-actions img{
    width: 40px;
    padding: 5px 1px;
    background-color: rgb(134, 217, 255);
}

/* Media Queries Default: Large Mobile Phones */

@media only screen and (max-width: 320px){
    .task-container{
      width: 310px;
    }
  }

  @media only screen and (min-width: 768px){
    .task-container{
        width: 65%;
    }
  }
  
  @media only screen and (min-width: 1200){
    .task-container{
        width: 35%;
    }

  }
  @media only screen and (min-width: 2560px){
    .task-container{
        width: 30%;
    }
}