.main-wrapper{
  background: indigo;
  height: 300vh;
}
.nav-wrapper a{
  text-decoration: none;
  color: indigo;
  background-color: rgb(134, 217, 255) !important;
}
.mynav{
  background-color: rgb(134, 217, 255) !important;
}

.mynav span{
  background-color: rgb(134, 217, 255) !important;
}
.brand{
  font-size: 40px !important;
  font-weight: bolder !important;
  background-color: rgb(134, 217, 255) !important;
}
.nav-wrapper{
  display: flex;
  flex-direction: row;
  background-color: rgb(134, 217, 255) !important;
}

 /* Media Queries Default: Medium to Large Mobile Devices */

 @media only screen and (min-width: 992px){
      .mynav{
        width: 80% !important;
      }
      .navbar-nav{
        width: 100%;
        justify-content: flex-end !important;
      }
}


